@import "../../../assets/styles/variables";

.catalog__filter {
  margin-bottom: 12px;
  border-radius: 5px;

  font-size: 16px;
  color: $color-text-secondary;

  .catalog__filter-head {
    padding: 12px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

    background-color: $color-secondary-03;
    cursor: pointer;

    svg {
      margin-top: 3px;
    }
  }

  &.open .catalog__filter-head {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    svg {
      rotate: 180deg;
    }
  }

  .catalog__filter-body {
    padding: 12px 16px;
    display: none;
    border: 1px solid $color-secondary-03;
    border-radius: 0 0 5px 5px;

    .catalog__filter-checkbox {
      margin-bottom: 19px;
      display: flex;
      align-items: baseline;

      line-height: 130%;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        margin-right: 10px;
      }

      input, span {
        cursor: pointer;
      }
    }

    .catalog__filter-from-to {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }

  &.open .catalog__filter-body {
    display: block;
  }
}


@media screen and (max-width: 767px) {
  .catalog__filter {
    width: 291px;
  }
}