@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .container {
    .catalog__title {
      margin-bottom: 33px;
      margin-left: 317px;

      @include header-lora-36;
      color: $color-primary;
    }

    .catalog__head {
      margin-left: 317px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      align-items: baseline;

      .catalog__applied-filters {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .catalog__applied-filter {
          padding: 8px 14px;
          display: flex;
          align-items: center;
          border: 1px solid $color-secondary-04;
          border-radius: 50px;

          font-size: 16px;
          color: $color-text-secondary;

          a {
            margin-left: 8px;
            display: flex;

            text-decoration: none;

            cursor: pointer;

            &:hover svg g line {
              stroke: $color-button-hover;
            }
          }
        }
      }

      .catalog__sorting {
        position: relative;

        width: 190px;
        min-width: 190px;
        box-sizing: border-box;

        font-size: 16px;

        cursor: pointer;

        .catalog__sorting-head {
          padding: 12px 0 12px 23px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          color: $color-text-secondary;

          span {
            margin-right: 16px;
          }
        }

        .catalog__sorting-body {
          position: absolute;
          z-index: 3;

          padding: 12px 23px;
          width: 100%;
          display: none;
          box-sizing: border-box;
          border-radius: 0 0 5px 5px;

          color: #8E8E8E;

          background-color: #F5F5F5;

          .catalog__sorting-item {
            margin-bottom: 14px;

            &:hover {
              color: $color-secondary-02;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: #313131;
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;

          .catalog__sorting-head {
            padding-right: 23px;
            border-radius: 5px 5px 0 0;

            color: $color-black;

            background: #EBEBEB;

            svg {
              rotate: 180deg;
            }
          }

          .catalog__sorting-body {
            display: block;
          }
        }
      }
    }

    .catalog__layout {
      margin-top: 30px;
      display: flex;

      .catalog__filters {
        margin-right: 58px;
        width: 257px;
        min-width: 257px;
      }

      .catalog__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 26px;
      }
    }

    .pagination {
      margin-top: 79px;
      display: flex;
      justify-content: center;
      align-items: center;

      .pagination-arrow {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &.disabled {
          opacity: 0.3;
          cursor: unset;
        }
      }

      .pagination__pages {
        margin: 0 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        .pagination__page {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          font-size: 20px;
          color: $color-text-secondary;
          text-decoration: none;

          cursor: pointer;
          user-select: none;

          &:hover {
            background-color: $color-secondary-04;
          }

          &.active {
            background-color: $color-secondary-03;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .catalog {
    padding-top: 90px;
    padding-bottom: 100px;

    .container {
      .catalog__head {
        margin-left: 0;
      }

      .catalog__layout {
        .catalog__filters {
          margin-right: 48px;
        }

        .catalog__items {
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;

    .container {
      .catalog__title {
        margin-left: 0;

        text-align: center;
      }

      .catalog__head {
        flex-direction: column;

        .catalog__sorting {
          margin-left: auto;
        }
      }

      .catalog__layout {
        .catalog__filters {
          margin-right: 0;
        }

        .catalog__items {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
      .catalog__layout {
        flex-direction: column;

        .catalog__filters {
          margin-bottom: 30px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .catalog {
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
      .pagination {
        margin-top: 69px;

        .pagination__pages {
          margin: 0 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .catalog {
    .container {
      .pagination {
        .pagination__pages {
          gap: 10px;

          .pagination__page {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
