@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  padding-top: 58px;
  padding-bottom: 231px;

  background-image: url("../../../../public/images/page/main-bckgrnd.png");
  background-position: calc(50% + 210px) bottom;
  background-repeat: no-repeat;

  .container {
    .main__title {
      margin-bottom: 67px;

      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 130%;
      color: $color-secondary-01;
    }

    .main__text {
      max-width: 528px;

      font-size: 18px;
      line-height: 140%;
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 1023px) {
  .main {
    background-position: calc(50% + 330px) bottom;
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 28px;
    padding-bottom: 170px;

    background-position: calc(50% + 340px) bottom;

    .container {
      .main__title {
        margin-bottom: 47px;

        font-size: 46px;
        text-align: center;
      }

      .main__text {
        max-width: unset;
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .main {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 374px) {
  .main {
    padding-bottom: 120px;

    .container {
      .main__title {
        font-size: 36px;
      }
    }
  }
}
