@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  padding-top: 58px;
  padding-bottom: 231px;

  background-image: url("../../../../public/images/page/main-bckgrnd.png");
  background-position: calc(50% + 210px) bottom;
  background-repeat: no-repeat;

  .container {
    .main__title {
      margin-bottom: 67px;

      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 130%;
      color: $color-secondary-01;
    }

    .main__text {
      max-width: 528px;

      font-size: 18px;
      line-height: 140%;
      color: $color-primary;
    }
  }
}

.offers {
  padding: 80px 0;

  background-color: #A4CBA3;

  .container {
    display: flex;
    justify-content: space-between;

    .offer {
      padding: 35px 35px 0 35px;
      width: 600px;
      height: 250px;
      border-radius: 5px;
      box-sizing: border-box;

      background-color: $color-white;

      .offer__title {
        font-size: 20px;
        line-height: 130%;
        color: $color-primary;
      }

      .offer__content {
        display: flex;

        .offer__text {
          font-size: 16px;
          line-height: 130%;
          color: $color-primary;
        }
      }

      &.offer-instagram {
        .offer__image {
          margin-top: 35px;
        }

        .offer__text {
          margin-top: 16px;
          margin-left: 58px;
          max-width: 234px;
        }

        .offer__button {
          margin-left: 168px;
          margin-top: 22px;

          .button {
            width: 228px;
          }
        }
      }

      &.offer-collection {
        .offer__title {
          max-width: 362px;
        }

        .offer__image {
          margin-left: 81px;
          margin-top: 12px;
        }

        .offer__button {
          margin-top: 75px;
          margin-left: 44px;

          .button {
            width: 177px;
          }
        }
      }
    }
  }
}

.best-products {
  padding-top: 120px;
  padding-bottom: 130px;
}

.info {
  padding: 80px 0;

  background-color: #A4CBA3;
  background-image: url("../../../../public/images/page/info-bckgrnd.png");
  background-position: calc(50% + 340px);
  background-repeat: no-repeat;

  .container {
    .info__title {
      margin-bottom: 5px;

      @include header-lora-32;
    }

    .info__item {
      margin-top: 35px;
      max-width: 442px;

      color: $color-black;

      .info__image {
        margin-bottom: 30px;
      }

      .info__text {
        font-size: 16px;

        .info__text-extra {
          margin-top: 8px;

          font-family: 'Montserrat', sans-serif;
          font-style: italic;
          font-weight: 300;
          line-height: 130%;
        }
      }

      &.info__delivery {
        .info__text:last-child {
          margin-top: 16px;
        }
      }

      &.info__payment {
        .info__text {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.reviews {
  margin: 130px 0;

  .container {
    .review__title {
      margin-bottom: 50px;

      @include header-lora-32;
      text-align: center;
    }

    .review__carousel {
      position: relative;

      .review__item {
        margin: 0 auto;
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $color-secondary-01;
        border-radius: 10px;
        box-sizing: border-box;

        .review__item-head {
          display: flex;
          align-items: center;

          .review__item-image {
            margin-right: 26px;
            width: 60px;
            height: 60px;
            border-radius: 50%;

            background-position: center;
            background-size: cover;
          }

          .review__item-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: $color-primary;
          }
        }

        .review__item-text {
          margin-top: 15px;

          font-size: 16px;
          line-height: 140%;
          color: $color-text-secondary;
        }
      }

      .review__arrows {
        display: flex;

        span {
          position: absolute;
          top: calc(50% - 8px);

          display: flex;

          cursor: pointer;

          &.move-backward {
            left: -31px;
          }

          &.move-forward {
            right: -31px;
          }
        }
      }
    }
  }
}

.map iframe {
  vertical-align: bottom;
}

@media screen and (max-width: 1299px) {
  .offers {
    .container {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
      gap: 30px;
    }
  }

  .info {
    background-position: calc(50% + 384px);
  }

  .reviews {
    margin: 100px 0;

    .container {
      .review__carousel {
        .review__arrows {
          span {
            z-index: 1;

            $width: 396px;
            $margin: calc((50% - $width) / 2);

            &.move-backward {
              left: calc(50% - $width - $margin - 30px);
            }

            &.move-forward {
              right: calc(50% - $width - $margin - 30px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .main {
    background-position: calc(50% + 330px) bottom;
  }

  .best-products {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  .info {
    background-position: calc(50% + 509px);
  }

  .reviews {
    margin: 80px 0;
  }
}

@media screen and (max-width: 877px) {
  .reviews {
    .container {
      .review__carousel {
        .review__arrows {
          span {
            $width: 396px;
            $margin: calc((100% - $width) / 2);

            &.move-backward {
              left: calc(100% - $width - $margin - 30px);
            }

            &.move-forward {
              right: calc(100% - $width - $margin - 30px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 28px;
    padding-bottom: 170px;

    background-position: calc(50% + 340px) bottom;

    .container {
      .main__title {
        margin-bottom: 47px;

        font-size: 46px;
        text-align: center;
      }

      .main__text {
        max-width: unset;
      }
    }
  }

  .offers {
    padding: 60px 0;

    .container {
      .offer {
        padding: 20px 20px 0 20px;
        width: 385px;
        height: 410px;

        .offer__content {
          flex-direction: column;
        }

        &.offer-instagram {
          .offer__image {
            margin-top: 25px;
          }

          .offer__text {
            margin-left: 0;
            max-width: unset;
          }

          .offer__button {
            margin-left: 0;

            .button {
              width: 100%;
            }
          }
        }

        &.offer-collection {
          height: 318px;

          .offer__title {
            max-width: unset;
          }

          .offer__image {
            margin-left: 0;
            margin-top: 25px;
          }

          .offer__button {
            margin-top: 16px;
            margin-left: 0;

            .button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .best-products {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .info {
    background-image: none;

    .container {
      .info__title {
        text-align: center;
      }

      .info__item {
        margin: 35px auto 0;
      }
    }
  }

  .reviews {
    margin: 70px 0;

    .container {
      .review__carousel {
        .review__item {
          width: 385px;
          height: 267px;
          padding: 20px;
        }

        .review__arrows {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .main {
    padding-bottom: 140px;
  }

  .offers {
    .container {
      .offer {
        padding: 15px 15px 0 15px;
        width: 345px;
        height: 400px;

        &.offer-collection {
          height: 334px;
        }
      }
    }
  }

  .best-products {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .reviews {
    .container {
      .review__carousel {
        .review__item {
          width: 340px;
          height: 267px;
          padding: 15px;
        }
      }
    }
  }

  .map iframe {
    height: 400px;
  }
}

@media screen and (max-width: 374px) {
  .main {
    padding-bottom: 120px;

    .container {
      .main__title {
        font-size: 36px;
      }
    }
  }

  .offers {
    .container {
      .offer {
        width: 290px;
        height: 422px;

        &.offer-collection {
          height: 334px;
        }
      }
    }
  }

  .best-products {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .reviews {
    margin: 60px 0;

    .container {
      .review__carousel {
        .review__item {
          width: 290px;
          height: 306px;
          padding: 15px;
        }
      }
    }
  }
}
