@import '../../../assets/styles/variables';

.button {
  min-height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-white;
  text-align: center;

  background: $color-button-default;
  cursor: pointer;
  user-select: none;

  &.button_transparent {
    border: 1px solid $color-button-hover;

    color: $color-primary;

    background-color: transparent;

    &:hover {
      color: $color-white;
    }
  }

  &.button_with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &.button_in-cart {
    span:first-child:not(.MuiCircularProgress-root) {
      display: inline;
    }

    span:nth-child(2) {
      display: none;
    }

    &:hover {
      span:first-child:not(.MuiCircularProgress-root) {
        display: none;
      }

      span:nth-child(2) {
        display: inline;
      }
    }
  }

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-button-pressed;
  }

  &:disabled {
    border-color: $color-button-disabled;

    color: $color-white;

    background-color: $color-button-disabled;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
}