.best-products {
  padding-top: 120px;
  padding-bottom: 130px;
}

@media screen and (max-width: 1023px) {
  .best-products {
    padding-top: 100px;
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 767px) {
  .best-products {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 424px) {
  .best-products {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 374px) {
  .best-products {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
