.catalog__layout {
  margin-top: 30px;
  display: flex;

  .catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 26px;
  }
}

@media screen and (max-width: 1300px) {
  .catalog__layout {
    .catalog__items {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1023px) {
  .catalog__layout {
    .catalog__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog__layout {
    flex-direction: column;

    .catalog__items {
      padding-top: 30px;
    }
  }
}