@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.reviews {
  margin: 130px 0;

  .container {
    .review__title {
      margin-bottom: 50px;

      @include header-lora-32;
      text-align: center;
    }

    .review__carousel {
      position: relative;

      .review__item {
        margin: 0 auto;
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $color-secondary-01;
        border-radius: 10px;
        box-sizing: border-box;

        .review__item-head {
          display: flex;
          align-items: center;

          .review__item-image {
            margin-right: 26px;
            width: 60px;
            height: 60px;
            border-radius: 50%;

            background-position: center;
            background-size: cover;
          }

          .review__item-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: $color-primary;
          }
        }

        .review__item-text {
          margin-top: 15px;

          font-size: 16px;
          line-height: 140%;
          color: $color-text-secondary;
        }
      }

      .review__arrows {
        display: flex;

        span {
          position: absolute;
          top: calc(50% - 8px);

          display: flex;

          cursor: pointer;

          &.move-backward {
            left: -31px;
          }

          &.move-forward {
            right: -31px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1299px) {
  .reviews {
    margin: 100px 0;

    .container {
      .review__carousel {
        .review__arrows {
          span {
            z-index: 1;

            $width: 396px;
            $margin: calc((50% - $width) / 2);

            &.move-backward {
              left: calc(50% - $width - $margin - 30px);
            }

            &.move-forward {
              right: calc(50% - $width - $margin - 30px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .reviews {
    margin: 80px 0;
  }
}

@media screen and (max-width: 877px) {
  .reviews {
    .container {
      .review__carousel {
        .review__arrows {
          span {
            $width: 396px;
            $margin: calc((100% - $width) / 2);

            &.move-backward {
              left: calc(100% - $width - $margin - 30px);
            }

            &.move-forward {
              right: calc(100% - $width - $margin - 30px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    margin: 70px 0;

    .container {
      .review__carousel {
        .review__item {
          width: 385px;
          height: 267px;
          padding: 20px;
        }

        .review__arrows {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .reviews {
    .container {
      .review__carousel {
        .review__item {
          width: 340px;
          height: 267px;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .reviews {
    margin: 60px 0;

    .container {
      .review__carousel {
        .review__item {
          width: 290px;
          height: 306px;
          padding: 15px;
        }
      }
    }
  }
}