@import "mixins";
@import "variables";

.personal__title {
  @include header-lora-32;
  margin-bottom: 30px;
}

.personal-pages-selector {
  margin-bottom: 50px;
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: $color-primary;
  display: flex;
  align-items: center;

  .personal_page {
    border-bottom: 2px solid $color-secondary-03;
    padding: 0 15px 13px;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid $color-primary-light;
      padding-bottom: 12px;
    }
  }
}
