$container-width: 1240px;

//colors
$color-mistake: #DE1818;
$color-success: #44B050;
$color-disabled: #D5D5D5;
$color-primary: #202B21;
$color-primary-light: #519057;
$color-secondary-01: #2A592E;
$color-secondary-02: #6CAC72;
$color-secondary-03: #B6D5B9;
$color-secondary-04: #E7F1E8;
$color-black: #000000;
$color-blackish: #111111;
$color-white: #FFFFFF;
$color-gray: #EBEBEB;

$color-text-secondary: #2C2C2C;
$color-text-gray: #ADADAD;
$color-text-dark-gray: #8E8E8E;

$color-button-default: #456F49;
$color-button-hover: #6CAC72;
$color-button-pressed: #456F49;
$color-button-disabled: #D4D4D4;

$color-input-default: #2A592E;
$color-input-action: #6CAC72;
